@import "@scss/variables.scss";
@import "@scss/declarations.scss";

.formSection {
  background-color: $background-secondary;
  color: $text-primary;
  padding: 50px 20px;
  text-align: center;
  font-family: 'Nunito', 'Montserrat', serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;

  &__showMessageButton {
    background-color: $secondary;
    color: $text-primary;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    margin-top: -10px;

    &:hover {
      background-color: darken($background-secondary, 5%);
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    color: $primary;
    font-family: 'Comfortaa', 'Nunito', sans-serif;
  }

  &__description {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto 50px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
  }

  &__inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
  }

  &__label {
    font-size: 24px;
    margin-bottom: 8px;
    font-family: 'Comfortaa', 'Nunito', sans-serif; 
    color: $text-primary;
    text-align: left;
    align-self: flex-start;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
    background-color: $background-secondary;
    color: $text-title;
  }

  &__input {
    height: 45px;
  }

  &__textarea {
    height: 150px;
    resize: none;
  }

  &__successMessage {
    
    &__text {
      font-size: 36px;
      font-weight: 500;
    }
  }

  &__submit {
    background-color: $tertiary;
    color: $text-title-dark;
    padding: 12px 60px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 30px 0;
    align-self: flex-start;

    &:hover {
      background-color: darken($tertiary, 10%);
    }
  }
}